<h1> Be The First to shoo... </h1>

<h2> Preorder Now </h2>

<form action="/shoo" method="Post">

  <label>Name:</label>
  <input type="text" name="full_name">

  <label>Address:</label>
  <input type="text" name="address">

  <label>City:</label>
  <input type="text" name="city">

  <label>Postcode:</label>
  <input type="text" name="postcode">

  Shoe Size
  <select name="size"> 
  <option value='7'>7</option>
  <option value='8'>8</option>
  <option value='9'>9</option>
  <option value='10'>10</option>
  <option value='11'>11</option>
  </select>

  <label>How Many Pairs?</label>
  <input type="number" name="quantity">

  <input type="submit" value='I want my shoos'>


</form>