<h1> Hey <%= @shoe.name %></h1>

<h1> Thanks for your order </h1>

<h1> We think you'll agree a total cost of £<%= @shoe.total %> is a small price to pay </h1>

<h1> You <%= @size %> Shoos will be sent to <%= @shoe.address %> real soon</h1>

